#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "via_spanish.h"

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
KC_TAB  KC_Q  KC_W  KC_E  KC_R  KC_T                        KC_Y   KC_U  KC_I  KC_O  KC_P  KC_PSPC
MT_WIN_CAPS  KC_A  KC_S  KC_D  KC_F  KC_G           KC_H  KC_J  KC_K  KC_L  KC_SCLN  KC_QUOT
KC_LSFT  KC_Z  KC_X  KC_C  KC_V  KC_B                        KC_N  KC_M KC_COMM  KC_DOT  KC_SLSH  KC_RSFT
LAY_1  KC_LALT  MT_CTRL_ENT                          KC_SPC LAY_2   LAY_3
                        >;
                };

                layer_1 {
                        bindings = <
//esc !"·$%                                                             & 789+ trns
KC_ESC  LS(KC_1)  LS(KC_2)  LS(KC_3)  LS(KC_4)  LS(KC_5)                LS(KC_6)  KC_7  KC_8  KC_9 KC_PLUS KC_TRNS 
//¿<[{(=                                                                /456* NO
LS(KC_EXCL) KC_MINUS RA(KC_ACEN_R) RA(KC_ACEN) LS(KC_8) LS(KC_0)        LS(KC_7)  KC_4 KC_5 KC_6 LS(KC_PLUS) KC_NO
// ?>]}) NO                                                             º123- TRNS  
LS(KC_APOS) LS(KC_MINUS) RA(KC_PLUS) RA(KC_CERI) LS(KC_9) KC_NO         KC_CIRC KC_1 KC_2 KC_3 KC_DASH KC_TRNS
KC_TRNS KC_TRNS KC_TRNS                                                 KC_TRNS KC_0 KC_DOT
                        >;
                };

                layer_2 {
                        bindings = <
// \|@#€                                                                         
RA(KC_GRV) RA(KC_1) RA(KC_2) RA(KC_3) RA(KC_E) KC_NO      KC_PRINT KC_HOME KC_UP KC_END KC_INS KC_DEL      
//  KC_NO KC_MINS KC_AT KC_LCBR KC_NO KC_NO
KC_NO KC_NO KC_NO KC_NO KC_NO KC_NO                       KC_PAUS KC_LEFT KC_DOWN KC_RGHT KC_NO KC_NO
//
KC_TRNS KC_NO KC_NO KC_NO KC_NO KC_NO                     KC_NO KC_PGUP KC_NO KC_PGDN KC_NO KC_TRNS
// menu
KC_CMENU KC_TRNS KC_TRNS                                    KC_TRNS KC_TRNS KC_TRNS
                        >;
                };

                layer_3 {
                        bindings = <
                       
KC_NO  KC_F1  KC_F2  KC_F3  KC_F4  KC_F5           KC_F6  KC_F7  KC_F8  KC_F9  KC_F10  KC_F11
KC_NO KC_NO KC_NO   KC_NO KC_NO KC_NO            KC_NO  KC_NO  KC_NO  KC_NO  KC_NO  KC_F12
KC_NO KC_NO KC_NO   KC_NO KC_NO KC_NO         KC_NO  KC_NO  KC_NO  KC_NO  KC_NO  KC_TRNS
KC_TRNS  KC_TRNS  KC_TRNS                          KC_TRNS  KC_TRNS  KC_TRNS
                        >;
                };
        };
};
