#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include "via_spanish.h"

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
KC_TAB KC_Q KC_W KC_E KC_R KC_T         KC_Y  KC_U KC_I KC_O KC_P KC_BSPC
WIN_CAPS KC_A KC_S KC_D KC_F KC_G    KC_H KC_J KC_K KC_L KC_EGNE KC_ACEN
KC_LSFT KC_Z KC_X KC_C KC_V KC_B        KC_N KC_M KC_COMM KC_DOT KC_MINUS KC_RSFT
LAY_1 KC_LALT CTRL_ENT               KC_SPC LAY_2  LAY_3
            >;
        };

        layer_1 {
            bindings = <
//esc !"·$%                               & 789+ trns
KC_ESC &kp LS(N1) &kp LS(N2) &kp LS(N3) &kp LS(N4) &kp LS(N5)  &kp LS(N6) KC_7  KC_8   KC_9 KC_PLUS    KC_TRNS 
//¿<[{(=                                /456* NO
&kp LS(EQUAL) KC_LESS &kp RA(LBKT) &kp RA(APOS) &kp LS(N8) &kp LS(N0)    &kp LS(N7) KC_4 KC_5 KC_6 &kp LS(RBKT) KC_NO
// ?>]}) NO                               º123- TRNS 
&kp LS(MINUS) &kp LS(LESS_THAN) &kp RA(RBKT) &kp RA(HASH) &kp LS(N9) KC_NO     KC_CIRC KC_1 KC_2 KC_3 KC_MINUS KC_TRNS
KC_TRNS KC_TRNS KC_TRNS                         KC_TRNS KC_0 KC_DOT
            >;
        };

        layer_2 {
            bindings = <
// \|@#€                                     
&kp RA(HASH) &kp RA(N1) &kp RA(N2) &kp RA(N3) &kp RA(E) KC_NO   KC_PRINT KC_HOME KC_UP KC_END KC_INS KC_DEL   
// KC_NO KC_MINS KC_AT KC_LCBR KC_NO KC_NO
KC_NO KC_NO KC_NO KC_NO KC_NO KC_NO            KC_PAUSE KC_LEFT KC_DOWN KC_RIGHT KC_NO KC_NO
//
KC_TRNS KC_NO KC_NO KC_NO KC_NO KC_NO           KC_NO KC_PGUP KC_NO KC_PGDN KC_NO KC_TRNS
// menu
KC_CMENU KC_TRNS KC_TRNS                  KC_TRNS KC_TRNS KC_TRNS
            >;
        };

        layer_3 {
            bindings = <
            
KC_NO KC_F1 KC_F2 KC_F3 KC_F4 KC_F5      KC_F6 KC_F7 KC_F8 KC_F9 KC_F10 KC_F11
RGB_TOG RGB_EFF RGB_EFR  KC_NO KC_NO KC_NO      KC_NO KC_NO KC_NO KC_NO KC_NO KC_F12
KC_NO KC_NO KC_NO  KC_NO KC_NO &sys_reset     &sys_reset KC_NO KC_NO BT_CLR BT_NEXT KC_TRNS
KC_TRNS KC_TRNS KC_TRNS             KC_TRNS KC_TRNS KC_TRNS
            >;
        };
    };
};
